//
   Created by byron on 20/08/2016.

html
    head
        title Homepage
        link(rel="stylesheet" type="text/css" href="/css/style.css")
    body
        script(src='/js/home/index.js')
        h1 We should put fancy homepage here